.grid {
  display: flex;
  flex-direction: row;
}

.grid-vertical-top {
  align-items: flex-start;
}
.grid-vertical-bottom {
  align-items: flex-end;
}
.grid-vertical-center {
  align-items: center;
}

.grid-center {
  justify-content: center;
}
.grid-top {

}
.grid-bottom{

}

.grid-cell {
  flex: 1;
}
.grid-cell-center {
  align-self: center;
}
.grid-cell-top {

}
.grid-cell-bottom {

}